{% extends 'base.html' %}{% load static %} {% block content %}
<title>About Us | ElectroVec</title>
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'aboutus.css' %}" />
  </head>

  <body>
    <div class="aboutcontainer">
      <h1 class="text-white display-4">About us</h1>
      <br />
      <div class="contact-info">
        <div class="details" style="width: 100%">
          <h3>Who We Are</h3>
          <br />
          <div class="contact-items-wrapper">
            <div class="contact-items">
              <p class="aboutdata">
                ElectroVec is India's leading e-vehicle search venture that
                helps users buy e-vehicles that are right for them. Its website
                and app carry rich automotive content such as expert reviews,
                detailed specs and prices, comparisons as well as videos and
                pictures of all e-vehicle brands and models available in India.
                The company has tie-ups with many auto manufacturers, more than
                4000 e-vehicle dealers and numerous financial institutions to
                facilitate the purchase of vehicles. <br />ElectroVec has
                launched many innovative features to ensure that users get an
                immersive experience of the e-vehicle model before visiting a
                dealer showroom. These include a Feel The ev tool that gives
                360-degree interior/exterior views with sounds of the E-vehicle
                and explanations of features with videos; search and comparison
                by make, model, price, features; and live offers and promotions
                in all cities. <br />The platform also has used e-vehicle
                classifieds wherein users can upload their E-vehicles for sale,
                and find used e-vehicles for buying from individuals and used
                e-vehicle dealers. Besides the above consumer product features,
                ElectroVec provides a rich array of tech-enabled tools to OE
                manufacturers and E-vehicle dealers. These include apps for
                dealer sales executives to manage leads, cloud services for
                tracking sales performance, call tracker solution, digital
                marketing support, virtual online showroom and outsourced lead
                management operational process for taking consumers from enquiry
                to sale. Our vision is to construct a complete ecosystem for
                consumers and e-vehicle manufacturers, dealers and related
                businesses such that consumers have easy and complete access to
                not only buying and selling e-vehicles, but also manage their
                entire ownership experience, be it accessories, tyres,
                batteries, insurance or roadside assistance.
              </p>

              <br />
            </div>
            <br />
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>

{% endblock %}
